<html>
    <head>
        <title>
            Signup
        </title>
    </head>
    <body>
        <form method="POST" action="{% url 'onii_auth:add_user' %}">
            {% csrf_token %}
            <input class="oniinput" placeholder="username" type="text" name="username"/>
            <input class="oniinput" placeholder="password" type="password" name="password"/>
            <input class="oniinput" placeholder="confirm-password" type="password" name="confirm-password"/>
            <input class="oniinput" placeholder="display-name" type="text" name="display-name"/>
            <input class="oniisubmit" type="submit">
        </form>
    </body>
</html>


