html {
    margin: 0;
    padding: 0;
    background: steelblue;
}

.container {
    display: flex;
    height: 95vh;
    width: 100%;
    flex-direction: column;
}

.terminal-bg {
    font-family: consolas, sans-serif;
    font-size: 20px;

    margin: auto;
    margin-bottom: 10px;
    height: min-content;
    width: 550px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 15px;

    color: white;
    background-color: #12121269;
    border-radius: 5px;
    padding-bottom: 15px;
    z-index: 999;

    backdrop-filter: blur(1px);
}

.shadow-wrapper {
    box-shadow: 0px 0px 2px 1px #ffffffd1, 0px 0px 50px -1px #be325faa;
}

@media screen and (max-width: 550px) {
    .terminal-bg {
        width: calc(100vw - 30px);
    }
}

.terminal-head {
    background-color: #bd456be4;
    width: 100%;
    border-radius: 5px 5px 0 0;
    padding: 5px;
    box-sizing: border-box;
}

.terminal-field {
    margin-left: 20px;
}

.title-field {
    color: cyan;
    font-size: 18px;
    font-weight: 500;
}

.terminal-input-container {
    padding: 5px;
}

.terminal-input {
    background: transparent;
    outline: none;
    color: white;
    font: 16px consolas, sans-serif;
    width: calc(100% - 170px);
    border: 2px solid transparent;
    border-radius: 5px;
}

.terminal-input:focus {
    border: 2px solid #09bcf3;
}

label {
    font-size: 18px;
}

.root {
    color: #ff3278;
}

.user {
    color: #1bff78;
}

#showpass, #con-showpass {
    filter: invert();
    transition: 1s;
}

.submit-bt {
    display: flex;
    justify-content: center;
}

#submit {
    border: 1px solid #C33764;
    box-shadow: 0 0 3px 1px #C33764;
    outline: none;
    border-radius: 3px;
    width: 75px;
    height: 30px;
    background: transparent;
    color: beige;
    font: 18px Consolas, sans-serif;
    transition: 100ms;
}

#submit:hover {
    background-color: #C33764;
}

.error_msg {
    color: #ee4444;
    font-size: 15px;
    text-align: center;
}

.signup {
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
}

.signup a:hover {
    color: beige;
}

.signup a {
    text-decoration: none;
    color: rgba(245, 245, 220, 0.68);
    transition: 200ms;
    font-family: sans-serif;
}


.warning {
    color: #fb5c5c;
    font-size: 15px;
    padding-left: 5px;
    height: 20px;
}