.container{
    display: flex;
    height: 95vh;
    width: 100%;
    margin: auto;
    flex-direction: column;
}
.terminal-bg {
    font-family: consolas, sans-serif;
    font-size: 20px;

    margin: auto;
    margin-bottom: 10px;
    height: min-content;
    width: 550px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;

    color: white;
    background-color: #12121269;
    border-radius: 5px;
    padding-bottom: 15px;
    z-index: 999;

    backdrop-filter: blur(1px);
}

.shadow-wrapper{
    box-shadow: 0px 0px 3px 0px white, 0px 0px 6px 4px #C33764;
}

.terminal-head{
    background-color: #3e8cdf7d;
    width: 100%;
    border-radius: 5px 5px 0 0;
    padding: 5px;
    box-sizing: border-box;
}

.terminal-field{
    margin-left: 20px;
}

.title-field{
    color: cyan;
    font-size: 20px;
    font-weight: 500;
}

.terminal-input-container{
    padding: 5px;
}

.terminal-input{
    background: transparent;
    outline: none;
    color: white;
    font: 18px consolas, sans-serif;
    width: calc(100% - 170px);
    border: 2px solid transparent;
    border-radius: 5px;
}

.terminal-input:focus{
    border: 2px solid#09bcf3;
}

.root{
    color: #ff3278;
}

.user{
    color: #1bff78;
}

#showpass{
  filter: invert();
  transition: 1s;
}

.submit-bt{
  display: flex;
  justify-content: center;
}

#submit{
  border: 1px solid #C33764;
    box-shadow: 0 0 3px 1px #C33764;
  outline: none;
  border-radius: 3px;
  width: 75px;
  height: 30px;
  background: transparent;
  color: beige;
  font: 18px Consolas, sans-serif;
  transition: 100ms;
}

#submit:hover{
  background-color: #C33764;
}

.error_msg{
    color: #ee4444;
    font-size: 15px;
    text-align: center;
}

.signup{
    color: rgba(245, 245, 220, 0.68);
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
    transition: 200ms;
}

.signup:hover{
    color: beige;
}