<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Snippet Store{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type="module">
  import RefreshRuntime from 'http://localhost:5173/@react-refresh'
  RefreshRuntime.injectIntoGlobalHook(window)
  window.$RefreshReg$ = () => {}
  window.$RefreshSig$ = () => (type) => type
  window.__vite_plugin_react_preamble_installed__ = true
</script>
<!-- if development -->
<script type="module" src="http://localhost:5173/@vite/client"></script>
<script type="module" src="http://localhost:5173/src/main.tsx"></script>

  </head>
  <body>
    <div id="root">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
