<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div class="termial-bg">
        <div class="termial-head">Welcome back to Snippet Store</div>
        <div class="termial-feild">
            <div class="title-feild">
                Enter username or Email
            </div>
            <div class="termin-input-container">
                <label for="username" class="terminal-label">root$user=></label>
                <input type="text" class="terminal-input">
            </div>
        </div>
        <div class="termial-feild">
            <div class="title-feild">
                Enter Password
            </div>
            <div class="termin-input-container">
                <label for="username" class="terminal-label">root$user=></label>
                <input type="text" class="terminal-input">
            </div>
        </div>
        <div class="termial-feild">
            <div class="termin-input-container">
                <label for="username" class="terminal-label error">root$user=></label>
                <span class="error-text">Username and Password didn't match</span>
            </div>
        </div>
        <div class="submit-bt">
            <button class="submit">Login</button>
        </div>
    </div>
</body>
</html>