<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>
    <link rel="stylesheet" href="{% static  'oauth/css/login.css' %}">
    <link rel="stylesheet" href="{% static  'oauth/css/compiled-login.css' %}">
</head>
<body>
<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
<div id="bg"></div>

<div class="container">

    <form id="signup-form" class="terminal-bg shadow-wrapper" action="{% url 'oauth:signup' %}" method="post">
        {% csrf_token %}
        <div class="terminal-head">Welcome to Snippet Store</div>
        <div class="terminal-field">
            <div class="title-field">
                Enter your email
            </div>
            <div class="terminal-input-container">
                <label for="email" class="terminal-label"><span class="root">root</span>@<span class="user">user</span>$
                </label>
                <input type="email" class="terminal-input" id="email" name="email">
            </div>
            <div class="warning" id="email-warn"></div>
        </div>
        <div class="terminal-field">
            <div class="title-field">
                Create password
            </div>
            <div class="terminal-input-container">
                <label for="password" class="terminal-label"><span class="root">root</span>@<span
                        class="user">user</span>$ </label>
                <div style="display: inline;">
                    <input type="password" class="terminal-input" id="password" name="password" maxlength="64">
                    <img src="{% static  'oauth/eye-open.png' %}" alt="" id="showpass" width="20px">
                </div>
            </div>
            <div class="warning" id="password-warn"></div>
        </div>
        <div class="terminal-field">
            <div class="title-field">
                Confirm password
            </div>
            <div class="terminal-input-container">
                <label for="con-password" class="terminal-label"><span class="root">root</span>@<span
                        class="user">user</span>$ </label>
                <div style="display: inline;">
                    <input type="password" class="terminal-input" id="con-password" name="con-password">
                    <img src="{% static  'oauth/eye-open.png' %}" alt="" id="con-showpass" width="20px">
                </div>
            </div>
            <div class="warning" id="con-password-warn"></div>
        </div>
        <div class="terminal-field">
            <div class="title-field">
                Choose username
            </div>
            <div class="terminal-input-container">
                <label for="username" class="terminal-label"><span class="root">root</span>@<span
                        class="user">user</span>$ </label>
                <input type="text" class="terminal-input" id="username" name="username">
            </div>
            <div class="warning" id="username-warn"></div>
        </div>
        <div class="terminal-field">
            <div class="title-field">
                What should we call you?
            </div>
            <div class="terminal-input-container">
                <label for="display-name" class="terminal-label"><span class="root">root</span>@<span
                        class="user">user</span>$ </label>
                <input type="text" class="terminal-input" id="display-name" name="display-name">
            </div>
        </div>
        <div class="submit-bt">
            <button class="submit" id="submit" type="button">Login</button>
        </div>
    </form>
    <div class="signup"><a href="/login">Already have account? Sign in</a></div>
</div>
<script src="{% static  'oauth/js/login.js' %}"></script>
<script src="{% static  'oauth/js/signin.js' %}"></script>
</body>
</html>