.details{
    width: 50%;
    padding: 10px;
    height: 80vh;
    box-sizing: border-box;
}

.label{
    font-size: 20px;
    font-weight: bold;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.property{
    margin: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

input, textarea{
    outline: none;
    border: 1px solid var(--text-color);
    background: var(--bg-primary);
    color: var(--text-color);
    font-size: 18px;
    border-radius: 5px;
    resize: none;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

input:focus, textarea:focus{
    border-color: var(--glow);
}

.submit{
    background-color: var(--fg-secondary);
    outline: none;
    border: 1px solid var(--bg-tertiary);
    padding: 5px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    color: var(--bg-primary);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.submit:active{
    background-color: var(--fg-primary);
}