.dashboard-container{
    display: flex;
    height: 99vh;
}
.codeview{
    height: 99vh;
    width: 100%;
}

.seperator{
    width: 10px;
    height: 100%;
    background-color: var(--bg-tertiary);
}

.list-snippets{
    width: 1500px;
}

.snippet-card{
    flex-direction: column;
    align-content: space-around;
    background-color: var(--bg-secondary);
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    padding-left: 15px;
    margin: 10px;
}

.title{
    color: var(--text);
    font: 20px sans;
    margin-bottom: 15px;
}

.lang{
    color: text;
}