.editor{
    height: 100vh;
    border-left: 10px solid var(--bg-secondary);
    overflow: hidden;
}
.editor-header{
    display: flex;
    justify-content: space-between;
    padding: 3px;
    background: var(--bg-secondary);
    align-items: center;
}

.editor-options{
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.language{
    background: var(--bg-secondary);
    height: 25px;
    width: 100px;
    border: none;
    color: var(--text-color);
    font-size: 16px;
    text-transform: capitalize;
    margin-left: 20px;
}

option{
    text-transform: capitalize;
}