.editor{
    height: 500px;
    margin: 50px;
}

.editor-header{
    display: flex;
    justify-content: space-between;
    padding: 3px;
    background: var(--bg-tertiary);
    border-radius: 10px 10px 0 0;
    align-items: center;
}

.editor-options{
    margin-right: 20px;
}

.language{
    background: var(--bg-tertiary);
    height: 25px;
    width: 100px;
    border: none;
    color: var(--text-color);
    font-size: 16px;
    text-transform: capitalize;
    margin-left: 20px;
}

option{
    text-transform: capitalize;
}